
body{
    background-color:#FDFCDC;
}
.title{
    text-align:center;

}
.custom-img {
  max-height: 100vh; /* Fill the viewport height */
  object-fit: cover; /* Cover the container without distortion */
  width: 100%;
}


